body {
    background: #00bf8f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00bf8f , #001510); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00bf8f , #001510); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.circle {
    width: 0;
    padding-bottom: 0;
    border-radius: 50%;
    animation: width 0.7s ease-in-out;
    position: relative;
}

@keyframes width {
    from {
        width: 50%;
        padding-bottom: 50%;
    }

    to {
        width: 0%;
        padding-bottom: 0%;
    }
}
